<style>
    #addt{
        display: none;
    }
</style>

{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <form action="{% url 'delete_task' todo.id %}" method="post">
        {% csrf_token %}
        <div class="col s12 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Delete your Task</span>

                        <input disabled placeholder="Update your Task" value="{{ todo }}" name="task" type="text"
                               class="validate">
                        <button class="btn waves-effect waves-light" type="submit" name="action">delete
                            <i class="material-icons right">delete_forever</i>
                        </button>

                </div>
            </div>
        </div>
            </form>
    </div>
{% endblock content %}